body {
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
    background: #cfecdb;
}

.content {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    background: #d7d1d1;
}
.content h2 {
    padding-top: 35px;
    text-align: center;
}

